package web

import (
	"embed"
	"html"

	"github.com/blakewilliams/amaro/httprouter"
	"github.com/blakewilliams/bat"
	"{{.PackageName}}/internal/app"
)

// Server represents the web server and routes of the application.
type Server struct {
	router   *httprouter.Router[*requestContext]
	app      *app.Application
	renderer *bat.Engine
}

func NewServer(app *app.Application) *Server {
	s := &Server{app: app}
	s.router = initRouter(s)
	s.renderer = initTemplateEngine(s)

	return s
}

func initRouter(s *Server) *httprouter.Router[*requestContext] {
	r := httprouter.New[*requestContext](newRequestContext(s))

	r.Get("/", homeHandler)

	return r
}

//go:embed all:templates
var templateFS embed.FS

func initTemplateEngine(s *Server) *bat.Engine {
	e := bat.NewEngine(html.EscapeString)
	err := e.AutoRegister(templateFS, "templates", ".html")
	if err != nil {
		panic(err)
	}

	return e
}
