package app

// Application represents the top-level concerns of your application. It
// should hold context independent references like repositories for your
// database, API clients, and more.
type Application struct {
}
